{% extends 'base.html' %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ITD112</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Project 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project2' %}">Project 2</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'project2' %}">Project 3<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <span class="navbar-text">
        Jo Christian Apas
      </span>
      
    </div>
  </nav>

  <div class="bar-box">
    <div class="bar-contents">
      <h4>COVID-19 Dataset</h4>
      <p>
        This dataset contains number of confirmed, death and recovered cases every day across the globe. 
        It is visualized using a <b>Grouped Bar Chart</b>. In the chart, only Philippines, South Korea, 
        Singapore and Japan are shown and compared with its attributes: <i>Confirmed</i> cases, <i>Deaths</i> and <i>Recovered</i>.
      </p>
    </div>
    <div class="bar-chart">
      {{ figure | safe }}
    </div>
  </div>
{% endblock %}