{% extends 'base.html' %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ITD112</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Project 1</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'project2' %}">Project 2<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'project3' %}">Project 3</a>
        </li>
      </ul>
      <span class="navbar-text">
        Jo Christian Apas
      </span>
      
    </div>
  </nav>    

  <div class="map-box">
    <div class="map-contents">
      <h4>Location of Falls in Iligan City</h4>
      <p>
        Iligan is known as the "City of Majestic Waterfalls" because of the numerous waterfalls located
        within its area. There are about 24 waterfalls in the city. The most well known is the Maria 
        Cristina Falls on Agus River. Sometimes the falls is also called “twin falls” because there 
        are two torrents of water plummeting down below. Upstream, there is a hydroelectric plant 
        and a dam on the river to regulate the water flow.
      </p>
    </div>
    <div class="map">
      {{ figure | safe }}
    </div>
  </div>
{% endblock %}